ADMINS=1234567б, 2412421, 12412412
BOT_TOKEN=1231241241241412:ABCDABCD:2412412412412
IP=localhost

DB_USER=your_database_owner_name
DB_PASS=1234567890
DB_HOST=localhost
DB_NAME=datingbot_database
SECRET_KEY=django_secret_key

API_KEY=api_key_yandex_map
