aiogram==2.25.1
environs==10.2.0
asyncpg==0.29.0
Django==4.2
psycopg2-binary==2.9.9
jsonfield~=3.1.0
asgiref==3.7.2
uuid~=1.30
pip==23.3.2
setuptools==69.0.3
django-jazzmin~=2.6.0
better_profanity~=0.7.0
pytest==7.4.4
aiohttp<3.9.0
async-lru==2.0.4
pytest-asyncio==0.23.3
APScheduler==3.10.4
NudeNet==3.0.8
yarl==1.9.4
aiofiles==23.2.1
pre-commit==3.6.0
testresources
pydantic==1.10.13
redis==5.0.1
betterlogging~=0.2.1
flake8==7.0.0
black==23.12.1
