aiogram~=2.14
environs==9.5.0
loguru==0.6.0
asyncpg==0.27.0
Django==4.1.6
psycopg2-binary
jsonfield
asgiref==3.5.2
uuid~=1.30
pip==22.3.1
setuptools==65.6.3
requests==2.28.1
django-jazzmin
better_profanity
pytest~=7.2.0
numpy~=1.23.4
aiohttp~=3.8.3
pytest-asyncio==0.20.3
glqiwiapi~=1.1.4
APScheduler~=3.9.1.post1
NudeNet~=2.0.9