aiogram==2.25.1
environs==9.5.0
loguru==0.7.0
asyncpg==0.27.0
Django==4.2.3
psycopg2-binary==2.9.6
jsonfield
asgiref==3.6.0
uuid~=1.30
pip==23.1
setuptools==67.6.1
requests==2.28.2
django-jazzmin
better_profanity
pytest==7.3.1
numpy==1.24.2
aiohttp==3.8.4
pytest-asyncio==0.21.0
glqiwiapi~=1.1.4 # Don't update the version of this library
APScheduler==3.10.1
NudeNet~=2.0.9